@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #e2e2e2;
}
header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    /* box-shadow: 0 0 10px #000; */
    background: transparent;
}
#chk1{
    display: none;
}
i{
    color: #fff;
    cursor: pointer;
}
header .logo{
    flex: 1;
    color: #fff;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 15px;
}
header .search-box{
    flex: 1;
    position: relative;
}
.search-box input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    text-align: center;
    padding-left: 5px;
    padding-right: 40px;
}
.search-box button{
    width: 40px;
    cursor: pointer;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background: #00FF00;
}
.search-box button i{
    color: #000;
}
header ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
header ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 15px;
    transition: 0.6s;
}
header ul li a:hover{
    color: #f44336;
    transition: 0.6s;
    border-bottom:2px solid #f44336;
}
header .menu{
    font-size: 2.5em;
    display: none;
}
@media(max-width: 1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top: 100px;
        right: -100%;
        background: #001F3F;
        height: calc(100vh - 100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    header .menu{
        display: block;
        width: 100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
    }
}

@media (max-width: 600px){
    header .logo{
        font-size: 10px;
        margin-left: 8px;
    }
    header ul{
        width: 100%;
        
    }
}
@media (max-width: 1080px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top: 100px;
        right: -100%;
        background: #001F3F;
        height: calc(100vh - 100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    header .menu{
        display: block;
        width: 100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
    }
}

.hero{
    width: 100%;
    height: 570px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #2f2f2f);
}

img{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: zoom-in 3s linear infinite;
}

@keyframes zoom-in{
    100%{
        width: 120%;
    }
}

.content{
    width: 45%;
    position: absolute;
    top: 150px;
    left: 100px;
    transform: translateY(100px);
    animation: textup 12s linear infinite;
}

@keyframes textup{
    10%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}
.content1{
    animation-delay: 0s;
}
.content2{
    animation-delay: 3s;
}
.content3{
    animation-delay: 6s;
}
.content4{
    animation-delay: 9s;
}

.content p{
    font-size: 25px;
    color: #eaeaea;
}
.content h1{
    color: #eaeaea;
    font-size: 50px;
    margin: 10px auto;
}

.content span{
    color: #eaeaea;
    font-size: 22px;
}

.content button{
    padding: 14px 25px;
    border: 0;
    border-radius: 35px;
    background: #f44336;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-top: 4%;
}
.slide1{
    animation: slide1 12s linear infinite;
}
@keyframes slide1{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

.slide2{
    animation: slide2 12s linear infinite;
}
@keyframes slide2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}

.slide3{
    animation: slide3 12s linear infinite;
}
@keyframes slide3{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}

.slide4{
    animation: slide4 12s linear infinite;
}
@keyframes slide4{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

@media(max-width: 280px){
    .hero{
       width: 100%;
       height: 330px;
    }
    img{
        width: 100%;
        left: 50%;
        top: 50%;
        height: 330px;
    }
    .content{
        width: 100%;
        height: 200px;
        top: 110px;
        left: 4px;
    }
    .content p{
        font-size: 11px;
        color: #eaeaea;
    }
    .content h1{
        color: #eaeaea;
        font-size: 18px;
    }
    
    .content span{
        color: #eaeaea;
        font-size: 11px;
    }
    
    .content button{
        padding: 10px 20px;
        border: 0;
        border-radius: 35px;
        background: #f44336;
        color: #fff;
        font-size: 10px;
        cursor: pointer;
        margin-top: 4%;
    }
    
}

@media(max-width: 320px){
    .hero{
       width: 100%;
       height: 330px;
    }
    img{
        width: 100%;
        left: 50%;
        top: 50%;
        height: 330px;
    }
    .content{
        width: 100%;
        height: 200px;
        top: 110px;
        left: 4px;
    }
    .content p{
        font-size: 11px;
        color: #eaeaea;
    }
    .content h1{
        color: #eaeaea;
        font-size: 18px;
    }
    
    .content span{
        color: #eaeaea;
        font-size: 11px;
    }
    
    .content button{
        padding: 10px 20px;
        border: 0;
        border-radius: 35px;
        background: #f44336;
        color: #fff;
        font-size: 10px;
        cursor: pointer;
        margin-top: 4%;
    }
    
}

@media(max-width: 490px){
    .hero{
       width: 100%;
       height: 330px;
    }
    img{
        width: 100%;
        left: 50%;
        top: 50%;
        height: 330px;
    }
    .content{
        width: 100%;
        height: 200px;
        top: 110px;
        left: 4px;
    }
    .content p{
        font-size: 11px;
        color: #eaeaea;
    }
    .content h1{
        color: #eaeaea;
        font-size: 18px;
    }
    
    .content span{
        color: #eaeaea;
        font-size: 11px;
    }
    
    .content button{
        padding: 10px 20px;
        border: 0;
        border-radius: 35px;
        background: #f44336;
        color: #fff;
        font-size: 10px;
        cursor: pointer;
        margin-top: 4%;
    }
    
}

@media(max-width: 768px){
    .hero{
       width: 100%;
       height: 450px;
    }
    img{
        width: 100%;
        left: 50%;
        top: 50%;
        height: 450px;
    }
    .content{
        width: 70%;
        top: 110px;
        left: 40px;
    }
    .content p{
        font-size: 18px;
        color: #eaeaea;
    }
    .content h1{
        color: #eaeaea;
        font-size: 25px;
    }
    
    .content span{
        color: #eaeaea;
        font-size: 18px;
    }
    
    .content button{
        padding: 15px 25px;
        border: 0;
        border-radius: 35px;
        background: #f44336;
        color: #fff;
        font-size: 12px;
        cursor: pointer;
        margin-top: 4%;
    }
    
}

@media(max-width: 1080px){
    .hero{
        width: 100%;
        height: 400px;
     }
     img{
         width: 100%;
         left: 50%;
         top: 50%;
         height: 400px;
     }
     .content{
         width: 70%;
         top: 110px;
         left: 20px;
     }

     .content p{
        font-size: 12px;
        color: #eaeaea;
    }
    .content h1{
        color: #eaeaea;
        font-size: 22px;
    }
    
    .content span{
        color: #eaeaea;
        font-size: 12px;
    }
    
    .content button{
        padding: 15px 25px;
        border: 0;
        border-radius: 35px;
        background: #f44336;
        color: #fff;
        font-size: 11px;
        cursor: pointer;
        margin-top: 4%;
    }
}